*{
    padding: 0;
    margin: 0;
}

.item{
    max-width: 300px;
    margin: 30px auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* text-align: center; */
}
h4{
    font-size: 20px;
    text-transform: uppercase;
    color: cornflowerblue;
}
.remove-btn{
    padding: 6px 10px;
    background-color: red;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}
.clear-btn{
    margin-top: 30px;
    font-weight: bold;
    background-color: brown;
    padding: 8px 10px;
    border: none;
    border-radius: 10px;
    font-size: 22px;
}